@charset "UTF-8";

:root {
    --cor1: #3DD9BC;
    --cor2: #1A4019;
    --cor3: #50590B;
    --cor4: #593B16;
    --cor5: #401506;
}

body {
    height: 98vh;
    border: 2px solid var(--cor3);
    background-image: url('../imagens/pattern002.png');
    background-repeat: no-repeat;
    background-position: center center;
}