@charset "UTF-8";

:root {
    --cor1: #A6728A;
    --cor2: #7997F2;
    --cor3: #203740;
    --cor4: #40736E;
    --cor5: #41A664;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: var(--cor2) url('../imagens/espaco.jpg') no-repeat fixed;
    background-size: cover;
    height: 100vh;
}
main {
    background: url('../imagens/astronauta.png') center center no-repeat;
    height: 100vh;
}
article {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding: 3vh;
}
