@charset "UTF-8";

/* Versão Mobile First */

:root {
    --col: #ffffff;
    --col0: #000000;
    --col1: #F29BEC;
    --col2: #A75CF2;
    --col3: #E3D8F2;
    --col4: #9373D9;
    --col5: #F2E205;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100vh;
}
body {
    background: var(--col3) url(../img/mq.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}
header {
    background-color: var(--col4);
}
header > h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    padding: 20px;
}
.menuburger {
    display: none;
}
.menuburger ul {
    list-style-type: none;
    background-color: var(--col3);
}
.menuburger > ul > li > a {
    text-decoration: none;
    color: var(--col2);
    display: block;
    padding: 10px;
    font-weight: bold;
}
.menuburger > ul > li > a:hover {
    background-color: var(--col1);
    color: var(--col5);
}
.menuburger li {
    display: block;
}
.burger {
    color: var(--col5);
    display: block;
    background-color: var(--col3);
    cursor: pointer;
    padding: 10px;
    font-size: 1.5rem;
}
.burger:hover {
    background-color: var(--col5);
    color: var(--col3);
}
.visibility {
    z-index: -1;
    opacity: 0%;
    visibility: hidden;
}
.menu {
    position: absolute;
    transition: all 0.4s linear;
}
.close {
    position: absolute;
    transition: all 0.4s linear;
}
main {
    background-color: #ffffffd3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 90vw;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 8px;
    border-radius: 10px;
    padding: 10px;
}
article h2 {
    padding-bottom: 15px;
    font-size: 1.5em;
}
article p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    font-size: 1.1em;
    line-height: 1.5em;
    text-indent: 30px;
    margin-bottom: 5px;
}
footer {
    background-color: var(--col4);
    color: white;
    padding: 5px;
}
footer p {
    text-align: center;
}
footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
footer a:hover {
    background-color: var(--col2);
    color: var(--col5);
}